#banner{	
	width: 970px;
	height: 66px;
}


#legalBtn{	
	@include pos(5, 17);	
	// opacity: 1;
}


.bgGrad{
	height: 33px;
	opacity: .5;
}

.phone{
	@include pos-scale(0, -50, .5);
}

.ill{
	@include pos-scale(0, -50, 1);
	transform-origin: 68% 100%;
}

#legalContent{
	
	padding: 6px;
	font-size: 9px;
	
	line-height: 12px;
	
}